iis/OpenMapWeb/Web References/com.bbn.winmap.GetMapService/GetMapService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s0="http://winmap.bbn.com/ImageWebService" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" targetNamespace="http://winmap.bbn.com/ImageWebService" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://winmap.bbn.com/ImageWebService">
      <s:element name="GetMapImage">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strLat" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strLon" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strScale" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strProjType" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strHeight" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strWidth" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strBgColor" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strLayers" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetMapImageResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetMapImageResult" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PanMap">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strLat" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strLon" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strScale" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strProjType" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strHeight" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strWidth" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strBgColor" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strAzimuth" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strLayers" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PanMapResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PanMapResult" type="s0:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="RecenterMap">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strLat" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strLon" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strScale" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strProjType" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strHeight" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strWidth" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strBgColor" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strX" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strY" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strLayers" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RecenterMapResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RecenterMapResult" type="s0:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="base64Binary" nillable="true" type="s:base64Binary" />
      <s:element name="ArrayOfString" nillable="true" type="s0:ArrayOfString" />
    </s:schema>
  </types>
  <message name="GetMapImageSoapIn">
    <part name="parameters" element="s0:GetMapImage" />
  </message>
  <message name="GetMapImageSoapOut">
    <part name="parameters" element="s0:GetMapImageResponse" />
  </message>
  <message name="PanMapSoapIn">
    <part name="parameters" element="s0:PanMap" />
  </message>
  <message name="PanMapSoapOut">
    <part name="parameters" element="s0:PanMapResponse" />
  </message>
  <message name="RecenterMapSoapIn">
    <part name="parameters" element="s0:RecenterMap" />
  </message>
  <message name="RecenterMapSoapOut">
    <part name="parameters" element="s0:RecenterMapResponse" />
  </message>
  <message name="GetMapImageHttpGetIn">
    <part name="strLat" type="s:string" />
    <part name="strLon" type="s:string" />
    <part name="strScale" type="s:string" />
    <part name="strProjType" type="s:string" />
    <part name="strHeight" type="s:string" />
    <part name="strWidth" type="s:string" />
    <part name="strBgColor" type="s:string" />
    <part name="strLayers" type="s:string" />
  </message>
  <message name="GetMapImageHttpGetOut">
    <part name="Body" element="s0:base64Binary" />
  </message>
  <message name="PanMapHttpGetIn">
    <part name="strLat" type="s:string" />
    <part name="strLon" type="s:string" />
    <part name="strScale" type="s:string" />
    <part name="strProjType" type="s:string" />
    <part name="strHeight" type="s:string" />
    <part name="strWidth" type="s:string" />
    <part name="strBgColor" type="s:string" />
    <part name="strAzimuth" type="s:string" />
    <part name="strLayers" type="s:string" />
  </message>
  <message name="PanMapHttpGetOut">
    <part name="Body" element="s0:ArrayOfString" />
  </message>
  <message name="RecenterMapHttpGetIn">
    <part name="strLat" type="s:string" />
    <part name="strLon" type="s:string" />
    <part name="strScale" type="s:string" />
    <part name="strProjType" type="s:string" />
    <part name="strHeight" type="s:string" />
    <part name="strWidth" type="s:string" />
    <part name="strBgColor" type="s:string" />
    <part name="strX" type="s:string" />
    <part name="strY" type="s:string" />
    <part name="strLayers" type="s:string" />
  </message>
  <message name="RecenterMapHttpGetOut">
    <part name="Body" element="s0:ArrayOfString" />
  </message>
  <message name="GetMapImageHttpPostIn">
    <part name="strLat" type="s:string" />
    <part name="strLon" type="s:string" />
    <part name="strScale" type="s:string" />
    <part name="strProjType" type="s:string" />
    <part name="strHeight" type="s:string" />
    <part name="strWidth" type="s:string" />
    <part name="strBgColor" type="s:string" />
    <part name="strLayers" type="s:string" />
  </message>
  <message name="GetMapImageHttpPostOut">
    <part name="Body" element="s0:base64Binary" />
  </message>
  <message name="PanMapHttpPostIn">
    <part name="strLat" type="s:string" />
    <part name="strLon" type="s:string" />
    <part name="strScale" type="s:string" />
    <part name="strProjType" type="s:string" />
    <part name="strHeight" type="s:string" />
    <part name="strWidth" type="s:string" />
    <part name="strBgColor" type="s:string" />
    <part name="strAzimuth" type="s:string" />
    <part name="strLayers" type="s:string" />
  </message>
  <message name="PanMapHttpPostOut">
    <part name="Body" element="s0:ArrayOfString" />
  </message>
  <message name="RecenterMapHttpPostIn">
    <part name="strLat" type="s:string" />
    <part name="strLon" type="s:string" />
    <part name="strScale" type="s:string" />
    <part name="strProjType" type="s:string" />
    <part name="strHeight" type="s:string" />
    <part name="strWidth" type="s:string" />
    <part name="strBgColor" type="s:string" />
    <part name="strX" type="s:string" />
    <part name="strY" type="s:string" />
    <part name="strLayers" type="s:string" />
  </message>
  <message name="RecenterMapHttpPostOut">
    <part name="Body" element="s0:ArrayOfString" />
  </message>
  <portType name="GetMapServiceSoap">
    <operation name="GetMapImage">
      <documentation>This method returns a map image in base64 encoded format.</documentation>
      <input message="s0:GetMapImageSoapIn" />
      <output message="s0:GetMapImageSoapOut" />
    </operation>
    <operation name="PanMap">
      <documentation>This method pans the map and returns a Lat/Lon coordinate.</documentation>
      <input message="s0:PanMapSoapIn" />
      <output message="s0:PanMapSoapOut" />
    </operation>
    <operation name="RecenterMap">
      <documentation>This method recenters the map and returns a Lat/Lon coordinate.</documentation>
      <input message="s0:RecenterMapSoapIn" />
      <output message="s0:RecenterMapSoapOut" />
    </operation>
  </portType>
  <portType name="GetMapServiceHttpGet">
    <operation name="GetMapImage">
      <documentation>This method returns a map image in base64 encoded format.</documentation>
      <input message="s0:GetMapImageHttpGetIn" />
      <output message="s0:GetMapImageHttpGetOut" />
    </operation>
    <operation name="PanMap">
      <documentation>This method pans the map and returns a Lat/Lon coordinate.</documentation>
      <input message="s0:PanMapHttpGetIn" />
      <output message="s0:PanMapHttpGetOut" />
    </operation>
    <operation name="RecenterMap">
      <documentation>This method recenters the map and returns a Lat/Lon coordinate.</documentation>
      <input message="s0:RecenterMapHttpGetIn" />
      <output message="s0:RecenterMapHttpGetOut" />
    </operation>
  </portType>
  <portType name="GetMapServiceHttpPost">
    <operation name="GetMapImage">
      <documentation>This method returns a map image in base64 encoded format.</documentation>
      <input message="s0:GetMapImageHttpPostIn" />
      <output message="s0:GetMapImageHttpPostOut" />
    </operation>
    <operation name="PanMap">
      <documentation>This method pans the map and returns a Lat/Lon coordinate.</documentation>
      <input message="s0:PanMapHttpPostIn" />
      <output message="s0:PanMapHttpPostOut" />
    </operation>
    <operation name="RecenterMap">
      <documentation>This method recenters the map and returns a Lat/Lon coordinate.</documentation>
      <input message="s0:RecenterMapHttpPostIn" />
      <output message="s0:RecenterMapHttpPostOut" />
    </operation>
  </portType>
  <binding name="GetMapServiceSoap" type="s0:GetMapServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
    <operation name="GetMapImage">
      <soap:operation soapAction="http://winmap.bbn.com/ImageWebService/GetMapImage" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="PanMap">
      <soap:operation soapAction="http://winmap.bbn.com/ImageWebService/PanMap" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="RecenterMap">
      <soap:operation soapAction="http://winmap.bbn.com/ImageWebService/RecenterMap" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <binding name="GetMapServiceHttpGet" type="s0:GetMapServiceHttpGet">
    <http:binding verb="GET" />
    <operation name="GetMapImage">
      <http:operation location="/GetMapImage" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="PanMap">
      <http:operation location="/PanMap" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="RecenterMap">
      <http:operation location="/RecenterMap" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
  </binding>
  <binding name="GetMapServiceHttpPost" type="s0:GetMapServiceHttpPost">
    <http:binding verb="POST" />
    <operation name="GetMapImage">
      <http:operation location="/GetMapImage" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="PanMap">
      <http:operation location="/PanMap" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="RecenterMap">
      <http:operation location="/RecenterMap" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
  </binding>
  <service name="GetMapService">
    <documentation>This Web Service returns images from the server in a base64 encoded manner.</documentation>
    <port name="GetMapServiceSoap" binding="s0:GetMapServiceSoap">
      <soap:address location="http://winmap.bbn.com/ImageWebService/GetMapService.asmx" />
    </port>
    <port name="GetMapServiceHttpGet" binding="s0:GetMapServiceHttpGet">
      <http:address location="http://winmap.bbn.com/ImageWebService/GetMapService.asmx" />
    </port>
    <port name="GetMapServiceHttpPost" binding="s0:GetMapServiceHttpPost">
      <http:address location="http://winmap.bbn.com/ImageWebService/GetMapService.asmx" />
    </port>
  </service>
</definitions>